.nav-list {
  background: rgba(162,162,162,0.5);
  display:flex;
  align-self: flex-start;
  justify-content: space-between;
  text-transform: uppercase;
  position:fixed;
  width:100%;
}
.nav-color a {
  color:white;

}
.tent-white{
  height: 5vh;
}